* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 14px;
}

body {
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    background-color: #f4f4f4;
    margin: 0; /* Sikre at det ikke er margin rundt body */
    /*padding: 0 20vh; /* Legg til padding på venstre og høyre side */ 
    
    /*background-image: url('path/to/your/image.jpg'); /* Legg til bakgrunnsbilde */
     /*background-size: cover; /* Skaler bildet for å dekke hele bakgrunnen */
     /*background-position: center; /* Plasser bildet sentrert */
     /*background-repeat: no-repeat; /* Ikke gjenta bildet */
     /* Legg til padding på venstre og høyre side */
     transition: background-color 1s ease;
}
.center-text {
    display: flex;
    justify-content: center; /* Sentrerer horisontalt */
    align-items: center; /* Sentrerer vertikalt */
    text-align: center; /* Sentrerer teksten inne i elementet */
    font-size: 1.5rem;
    padding-bottom: 1rem;
    padding-top: 1.2rem;

    
}

header {
    position: relative;
    height: 100vh;
    overflow: hidden;
    z-index: 1; /* Sørg for at headeren ligger under nav */
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 2; /* Sørg for at teksten er synlig over bildene */
    background-color: rgba(0, 0, 0, 0.3); /* Optional for better text visibility */
}

header .text {
    width: 100%;
    text-align: right;
    padding: 0 50px;
    pointer-events: none;
    opacity: 0;
    animation: startfade 1s ease-in 0.02s;
    animation-fill-mode: both;
    
}

header .text h1 {
    font-size: 3.815rem;
    color: white;
    padding-left: 20vh;
    background: linear-gradient(to right, #FFDDC1, #f7a87b, #e60000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
    opacity: 0;
    animation: startfade 1s ease-in 0.001s;
    animation-fill-mode: both;
   
    
}

@keyframes startfade {
    0% {
        opacity: 0;
    }
    100%{ opacity: 1;
    
    }
}

/*@keyframes appear{
    from    {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
} */

/*@keyframes appear{
    from    {
        opacity: 0;
        transform: translateX(-100px)
    }
    to {
        opacity: 1;
        transform: translateX(0px)
    }
    
}*/

@keyframes fagom1 {
    from {
        opacity: 0;
        transform: translateY(px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Keyframes for h2 */
@keyframes fagom3 {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Keyframes for h3 */
@keyframes fagom {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fagom4 {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


header .text h2 {
    font-size: 3.052rem;
    color: white;
    padding-left: 25vh;
}


header .right {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

header .right img {
    width: 100%; /* Fyller hele bredden av containeren */
    height: 100%; /* Fyller hele høyden av containeren */
    object-fit: cover; /* Sørg for at bildet fyller hele containeren uten å forvrenge */
    object-position: center;  /* mulig å endre her i media query (!) */ 
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

header .right img.active {
    opacity: 1;
}

header .logo-container {
    position: fixed; /* Fester logoen til en fast posisjon */
    top: 25px; /* Avstand fra toppen av skjermen */
    left: 10px; /* Avstand fra venstre kant av skjermen */
    
    z-index: 4; /* Sørg for at logoen ligger over alt annet */
}

header .logo-container img {
    width: 20vh; /* Juster størrelsen på logoen */
    height: auto; /* Behold proporsjoner av logoen */
    max-width: 20vh;
    max-height: 100%;
    -webkit-tap-highlight-color: transparent;
    user-select: none; 
}

/* Navigasjonsstil */
nav {
    position:absolute; /* Sørg for at nav alltid er på toppen */
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0); /* Gjør bakgrunnen litt gjennomsiktig */
    z-index: 3; /* Sørg for at nav ligger over headeren */
    
}

nav ul {
    display: flex;
    justify-content: right;
    list-style: none;
    margin: 0;
    padding: 30px 0;
}

nav ul li {
    margin: 0 24px; /* Margin mellom meny elementer */
}

nav ul li a {
    color: #ffffff; /* Endret fra hvit for bedre kontrast mot hvit bakgrunn */
    text-decoration: none;
    padding: 0 50px;
    font-size: 25px;

}

nav ul li a:hover {
    background-color: rgba(87, 87, 87, 0.5); /* Semi-transparent hover effect */
}

main {
    padding-top: 70px;
    width: 80%;
    margin: 0 auto; /* Horisontal sentrering av main-elementet */
  
    align-items: center; /* Vertikal sentrering av innhold i main */
}

main section {
    background: white;
    /*padding: 85px; */
    margin-bottom: 40vh;
    border-radius: 5px;
    /*animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%; */
}
section h1 {
    opacity: 0; /* Start hidden */
    transform: translateY(-15px); /* Start slightly above */
    transition: opacity 1s ease-out, transform 1s ease-out;
}

section h1.visible {
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Move to final position */
}
/*section p {
    opacity: 0;  
    transform: translateY(-15px); 
    transition: opacity 1s ease-out, transform 1s ease-out;
}*/

/*section p.visible {
    opacity: 1; 
    transform: translateY(0); 
} */

#om-meg{
    padding: 25vh 20vh;
    display: flex;
    align-items: flex-start;
    background-color: #f4f4f4;
    
}
#om-meg p{
    flex: 1 1 100%;
    font-size: 25px;
}
#om-meg h1{
    font-size: 80px;
    padding-bottom: rem;
    margin: 0;
}
#om-meg img {
    padding-left: 2rem;
    padding-top: 4rem;
    max-width: 50vh; /* Juster størrelsen på bildet etter behov */
    /* Litt mellomrom mellom bildet og teksten */
    flex: 1 1 100%; /* Flex-grow: 1, Flex-shrink: 1, Flex-basis: 40% */
    object-fit: cover;
}
#om-meg div {
    flex: 1; /* Lar teksten ta opp tilgjengelig plass */
}


.slideshow-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: rgb(255, 255, 255);
   
}

.slideshow {
    display: flex;
    animation: slide 18s linear infinite;
    padding-bottom: 10vh;
    padding-top: 10vh;
   
}

.slide {
    min-width: 20%; /* 100% / 4 visible slides */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.slide img {
    width: 10vh;
    display: block;
    height: auto;
}

.project-details.visible {
    display: block;
}
   

.slide p {
    padding-left: 1.2vh;
}

.fagfelt {
    
    
    background-color: transparent;
    font-size: 10vh;
     box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
   
    
    
    
}

.fagfelt h1 {
    background-color: #FFABAB;
    writing-mode: vertical-lr;
    font-size: 9rem;
    opacity: 0; /* Start hidden */
    transform: translateY(100px); /* Start off-screen */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;   /* Smooth transition */
    animation: fagom2 2s linear;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}
.fagfelt h1.animate {
    opacity: 1;
    transform: translateY(0);
}

.fagfelt h2 {
    background-color: #f7a87b;
    
    animation: fagom3 2s linear;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;
    transform: translateY(100px); /* Start off-screen */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out; 
    opacity: 0;
    
    
 
    
}
.fagfelt h3 {
    background-color:#f87878;
    writing-mode:vertical-rl;
    padding: 2vh;
    color: #FFC3A0;
    width: 20vh;
    transform: translateY(100px); /* Start off-screen */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out; 
    opacity: 0;
    animation: fagom 2s linear;
}
.fagfelt .h3-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    
    
}

.fagfelt h2.animate {
    opacity: 1;
    transform: translateY(0);
}

/* Animation for h3 */
.fagfelt h3.animate {
    opacity: 1;
    transform: translateY(0);
}
.fagfelt h4.animate {
    opacity: 1;
    transform: translateX(0);
}

.fagfelt h4 {
    color: #FFDDC1;
    background-color: #f86565;
    width: 100%;
    align-content: space-around;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    animation: fagom4 2s linear;
}



@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-250%);
    }
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-300%);
    }
}

.nyligpro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px; /* Avstand mellom boksene */
    margin-bottom: 20vh;
}

.nyligpro-box {
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
    overflow: hidden;
    width: calc(50% - 20px); /* Tre bokser ved siden av hverandre, juster etter behov */
    max-width: 300px; /* Maks bredde for hver boks */
    box-sizing: border-box;
}

.image-container {
    width: 100%;

}

.nyligpro-box img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nyligpro-box p {
    padding: 4px;
    margin: 0;
    color: white;
}
.nyligpro-box h3 {
    font-size: 1.2rem;
    color:white;
    margin-top: 20px;
}
 

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #33333300;   /*footer bakgrunn */
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1; /* Start synlig */
    transform: translateY(0); /* Start synlig */
    z-index: 4; /* Sørg for at fotnoten ligger over headeren og nav */
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

footer.hidden {
    transform: translateY(100%);
    opacity: 0; /* Gjør fotnoten usynlig */
}

footer.visible {
    transform: translateY(0);
    opacity: 1; /* Gjør fotnoten synlig */
}

footer p {
    margin: 0;
    font-size: 30px;
}

footer i {
    font-size: 24px; /* Størrelse på ikonene */
    margin-right: 8px; /* Litt mellomrom mellom ikon og tekst */
    color: white; /* Ikonfarge */
}









 
    

/* Seksjon Om Meg */
.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 25vh;
    padding: 8px 8px 2px;
        
    
}

.text-content {
    flex: 1 1 50%; /* Flex-grow: 1, Flex-shrink: 1, Flex-basis: 60% */
    padding-right: 1.5vh;
    padding-left: 1.5vh;
    text-align: center;
}

.image-content {
    flex: 1 1 50%; /* Flex-grow: 1, Flex-shrink: 1, Flex-basis: 40% */
}

#box img {
    width: 100%; /* Sikrer at bildet fyller containerens bredde */
    height: auto;
    object-fit: cover;
    height: 23vh;
    border-radius: 5px;
    
}

.content-wrapper:hover{
    box-shadow:  12px 12px 12px rgba(0, 0, 0, 0.1),
    -10px -10px 10px white; 
}

a {
    text-decoration: none;
    color: #e60000;
}

a h3 {
    text-decoration: none;
    color: white;
}


.portfolio-filter {
    text-align: center;
    margin-bottom: 20px;
}

.portfolio-filter button {
    margin: 14px;
    padding: 10px 20px;
    background:#FFDDC1;
    color: #e60000;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;
    
}
.portfolio-filter button.active {
    background-color: #f77912; /* Farge for aktiv knapp, endre til ønsket */
    color: white;
}



.portfolio-filter button:hover {
    background-color: #555;
}

.portfolio-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
   
}

.portfolio-item {
    display: flex;
    flex-direction: column; /* Plasserer barn i en kolonne (vertikal retning) */
    align-items: center; /* Sentraliserer barn horisontalt */
    width: 250px; /* Samme bredde for alle elementer */
}

.portfolio-item img {
    width: 100%;
    border-radius: 5px;
    max-width: 250px;
    max-height: 250px;
}

.portfolio-item p {
    text-align: center;
    margin: 15px 0 0 0;
    width: 100%; /* Sørger for at teksten tar samme bredde som bildet */
}

.project-details {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
   
}

.project-details img {
  
    margin-top: 20px;
    width: 450px;
    height: 450px;
    display: block; /* Gjør bildet til en blokk for at margin auto skal fungere */
    margin: 0 auto;
    padding-top: 20px;
}

.project-details h2 {
    margin-top: 0;
}

.project-details p {
    font-size: 20px;
    text-align:left;
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 999;
}

.overlay.visible {
    display: block;
}
.portfolio-header {
    background: linear-gradient(to right, #FFDDC1, #f7a87b, #e60000);
    color: white; /* Hvit tekstfarge */
    text-align: center; /* Sentralisert tekst */
    padding: 20px 0; /* Øvre og nedre padding */
    font-size: 2em; /* Større tekststørrelse */

}

/* Hvis du trenger å legge til spesifikke stiler for tekst i portefølje headeren */
.portfolio-header h1 {
     /* Fjerner margin for å sikre at teksten er sentrert */
    font-size: 5rem;
    padding-top: 4rem;
}

.project-detailss {
    
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.219);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.253);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    z-index: 1000;
}
.project-tags {
    position: absolute; /* Plasserer elementet oppe til høyre */
    top: -90px; /* Avstand fra toppen */
    right: -2.5px; /* Avstand fra høyre kant */
    background-color: transparent; /* Bakgrunnsfarge for å skille det fra resten */
    border-radius: 5px; /* Avrundede hjørner */
    padding: 10px; /* Padding for innholdet */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.589); /* Lett skygge for å løfte det fra bakgrunnen */
    z-index: 10; /* Sørg for at det vises over andre elementer */
    
}



.project-tags ul {
    list-style: none; /* Fjern punkttegn */
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project-tags ul li {
    /* Avstand mellom elementer */
    font-size: 40px; /* Juster fontstørrelsen etter behov */
    color: white;
}

.color-palette {
    position: absolute;
    display: flex;
    gap: 10px;
    top: -85px; /* Avstand fra toppen */
    right: 10px;
    
}

.color-box {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    /*border: 1px solid #ccc; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.589);
   
}


.project-description {
    flex: 1;
    margin-right: 20px;
}

.project-description p {
    
    font-size: 20px;
    padding-top: 10px;
}


.project-slideshow {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.project-slideshow img {
    width: 800px;
    height: 500px;
    border-radius: 5px;
    object-fit:cover;
    
    

}
.project-slideshow {
    position: relative;
    width: 100%;
    max-width: 800px;  /* bilderamme */
    margin: auto;
}

.slideshow-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
   
}



.slides {
    position: relative;
    overflow: hidden;
    display: none; /* Skjul alle bilder */
    width: 100%;
    height: auto;
    -webkit-tap-highlight-color: transparent;
    user-select: none; 
}


.slides.active {
    display: block; /* Vis bare det aktive bildet */
}


.slideshow-controls button {
    background-color: #f7a87b;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 25px;
    border-color: red;
    -webkit-tap-highlight-color: transparent;
    user-select: none; 

}

.show-controls button:hover {
    background-color: #e60000;
}


.swiper {
   height: 540px;
   width: auto;
   border-radius: 8px;
  }

  .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box
}

.swiper-slide {
    position: relative; /* Make the slide a positioned element */
    overflow: hidden;
}

.slide-content {
    position: relative; /* Position relative for text positioning */
    width: 100%; /* Sikre at innholdet tilpasser seg slidens bredde */
    height: 100%; /* Sikre at innholdet tilpasser seg slidens høyde */
}



.swiper-slide > img,
.slide-content > img {
    width: 70%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
    overflow: hidden;
    left: 30%;
    border-radius: 1.5rem;
    
   

}

.slide-content::after {
    content: ""; /* Lager et tomt pseudo-element */
    position: absolute; /* Posisjoner pseudo-elementet over hele slide-content */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, #e92b2b 0%, rgba(32, 22, 233, 0) 75%, #e6765a 100%); /* Definerer gradienten */
    background: -webkit-linear-gradient(10deg, #e03737 0%, rgba(32, 31, 49, 0) 75%, #f89a63 100%);
    z-index: 2; /* Sørger for at gradienten ligger over bildet */
    pointer-events: none; /* Sørger for at pseudo-elementet ikke blokkerer museklikk på bildet */
    border-radius: 1.5rem; /* Sørger for at pseudo-elementet følger bildets runde kanter */
}

.slide-text {
    position: absolute; /* Position text over image */
    bottom: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    color: white; /* Text color */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
    max-width: 80%; /* Ensure the text box width is limited */
    width: auto; /* Allow the width to adjust up to max-width */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    overflow: hidden; /* Hide overflowing text */
    display: -webkit-box; /* Required for the WebKit box model */
    -webkit-box-orient: vertical; /* Required for the WebKit box model */
    -webkit-line-clamp: 3; /* Number of lines to show before truncation */
    text-overflow: ellipsis; /* Add ellipsis for overflowing text */
    margin: 0;
    line-height: 1.2; /* Adjust line-height for better readability */
}


.slide-title {
    font-size: 1.5em;
    margin: 0 0 10px;
}

.slide-description {
    font-size: 1em;
    margin: 0;
}

.fixed-text {
    position: absolute; /* Positioning it relative to swiper container */
    top: 5%; /* Adjust as needed */
    left: 5%; /* Adjust as needed */
    z-index: 20; /* Ensure it is above all other content */
    line-height: 1.1;
    color: white; /* Text color */
    padding: 10px;
    border-radius: 5px;
    max-width: calc(100% - 40px); /* Ensures it does not overflow */
    pointer-events: none; /* Prevents interaction with this element */
    display: flex;
    flex-direction: column;
    max-width: 80%;
    
}

.fixed-text h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1.2rem;
}

.fixed-text p {
    max-width: 60%;
    line-height: 1.6;
    text-shadow: rgb(0, 0, 0) 10px 0 20px;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.103);
    border-radius: 10px;
}
.title-line {
    display: block; /* Ensure each line is on a new line */
}

.middle-text {
    margin-top: 200px;
    background-color: rgb(231, 81, 81);
    display: flex; /* Bruk Flexbox for horisontal plassering */
    justify-content: center; /* Sentrer innholdet horisontalt */
    align-items: center; /* Sentrer innholdet vertikalt */
    padding: 60px;
    width: 98vw; /* Full bredde av viewporten */
    max-width: none; /* Fjern eventuelle maksbegrensninger */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box; /* Inkluder padding i bredde */
    margin-bottom: 30vh;
    background-image: url('/bilder/Endless/game-background-cover.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
   
}


.middle-text .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover; /* Gjør at videoen dekker hele containeren uten å forvrenge */
    z-index: -1; /* Legger videoen bak innholdet */
}


.middle-text h2 {

    font-size: 2.5rem;
    line-height: 1.2;
    letter-spacing: 40px;
    color:white
    

}
.sectionartikel {
    margin-top: 100px;
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr; /* To kolonner, én for tekst og én for bilde */
    grid-gap: 20px; /* Mellomrom mellom tekst og bilde */
    align-items: center; /* Sentere innholdet vertikalt hvis de har forskjellig høyde */
    
}

.sectionartikelmiddle {
    display: flex; /* Bruk Flexbox til layout */
    flex-direction: column; /* Standard er kolonne for mobil */
    align-items: center; /* Sentrer innholdet horisontalt */
    margin-top: 20px;
    padding: 20px;
      background-color: transparent;
    flex-direction: column-reverse;

}

.art-text-middle-content {
    text-align: center; /* Sentrerer teksten */
    margin-bottom: 20px; /* Avstand under teksten */
}

.art-image-middle-content {
    display: flex; /* Flex for å justere layouten */
    flex-direction: column; /* Holder bildetekst under bildet */
    align-items: center; /* Sentrerer bilde og tekst horisontalt */
}

.art-image-middle-content img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}





.sectionartikelmiddle h2{
    padding-bottom: 50px;
    padding-top: 55px;
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    line-height: 0.6;
    letter-spacing: 15px;
    text-align: center;
    
}

.sectionartikelmiddle p{
    font-size: 1.3rem;
    line-height: 1.6;
    letter-spacing: 0.5px;
    color: black;
    font-family: 'lato', sans-serif;
    font-weight: bold;
    text-align: center;
}

p.middle-image-caption {
    font-size: 15px;
}



.sectionartikel h2 {
 
    font-size: 2.5rem;
    line-height: 1.2;
    letter-spacing: 15px;
    color:white;
    margin-bottom: 50px;
    
    
}

.sectionartikel p {
 
    font-size: 1.3rem;
    line-height: 1.6;
    letter-spacing: 0.5px;
    color:black;
    font-family: 'lato', sans-serif;
    font-weight: bold;
    
    
    
    
}
p.image-caption {
    padding-bottom: 10px;
    font-size: 12px;
    color: white;
}

.art-text-content {
    grid-area: 1 / 1; /* Plasserer tekstinnhold i første kolonne */
}

.art-image-content {
    grid-area: 1 / 2; /* Plasserer bildeinnhold i andre kolonne */
    text-align: center; /* Sentrerer bildet horisontalt */
    position: relative;

}

.image-circle {
    position: absolute; /* Absolutt posisjonering for å plassere sirkelen over bildet */
    top: -30px; /* Plassering fra toppen av containeren */
    right: -30px; /* Plassering fra venstre kant av containeren */
    width: 100px; /* Diameteren på sirkelen */
    height: 100px; /* Diameteren på sirkelen */
    background-color: red; /* Farge på sirkelen */
    border-radius: 50%; /* Gjør elementet til en sirkel */
    z-index: 15; /* Sørger for at sirkelen vises over bildet */
}

.art-text-contents {
    grid-area: 1 / 2; /* Plasserer tekstinnhold i første kolonne */
    padding-bottom: 180px;

}

.art-image-contents {
    grid-area: 1 / 1; /* Plasserer bildeinnhold i andre kolonne */
    text-align: center; /* Sentrerer bildet horisontalt */
    margin-right: 45px;
}

.art-image-content img {
    width: 100%; /* Tilpasser bildet til kolonnens bredde */
    height: auto; /* Bevarer bildeproporsjonene */
    border-radius: 10px;
}
.art-image-contents img {
    width: 100%; /* Tilpasser bildet til kolonnens bredde */
    height: auto; /* Bevarer bildeproporsjonene */
    border-radius: 10px;
}

.art-image-contents video {
    max-width: 100%; /* Gjør at videoen ikke overstiger bredden til sin container */
    height: auto; /* Bevarer proporsjonene til videoen */
    border-radius: 10px; /* Avrundede hjørner på videoen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Legg til en svak skygge under videoen */
    margin-bottom: 10px; /* Litt avstand under videoen */
}
.art-image-content video {
    max-width: 100%; /* Gjør at videoen ikke overstiger bredden til sin container */
    height: auto; /* Bevarer proporsjonene til videoen */
    border-radius: 10px; /* Avrundede hjørner på videoen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Legg til en svak skygge under videoen */
    margin-bottom: 10px; /* Litt avstand under videoen */
}

.image-caption {
    font-size: 0.875em; /* Mindre skriftstørrelse for bildeteksten */
    color: #ffffff; /* Lysere gråfarge for bildeteksten */
    margin-top: 5px; /* Liten avstand over bildeteksten */
    text-align: center; /* Sentere bildeteksten under bildet */
}

.showcase-grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 250px);
    grid-template-areas: 
        "item1 item1 item2 item3"
        "item1 item1 item4 item3"
        "item5 item6 item4 item7"
        "item5 item8 item8 item7";
    gap: 25px;
    padding: 20px;
}

.showcase-grid-item {
    background-color: #f0f0f000;
    display: flex; /* For å sentrere innholdet */
    align-items: center; /* Sentere vertikalt */
    justify-content: center; /* Sentere horisontalt */
    overflow: hidden; /* Skjule overskudd av bilder eller videoer */
    border-radius: 8px; /* Runde kanter */

}

.item1 {grid-area: item1; /* Plassere i grid area "item1" */}
.item2 {grid-area: item2; /* Plassere i grid area "item2" */}
.item3 {grid-area: item3; /* Plassere i grid area "item3" */}
.item4 {grid-area: item4; /* Plassere i grid area "item4" */}
.item5 { grid-area: item5; }
.item6 { grid-area: item6; }
.item7 { grid-area: item7; }
.item8 { grid-area: item8; }

.showcase-grid-item img,
.showcase-grid-item video {
    width: 100%;
    height: 100%;
    border-radius: 8px; /* Samme radius for å matche grid item */
    object-fit: cover;
    display: block;
}


.gallery {
    margin-top: 20px;
    background: linear-gradient(to right, #ffddc100, #f7a97b00, #e6000000);
    
}

.gallery h2 {
    text-align: center;
    padding-bottom: 30px;
}

.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
   
}



.thumbnail {
    width: 300px; /* Juster størrelse som ønsket */
    height: 200px;
    cursor: pointer;
    border: 2px solid #f7a87b;
    border-radius: 10px;
}


.thumbnail:hover {
    opacity: 0.8;
}

/* Modal */
.modal {
    display: none; /* Skjult som standard */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.849);
    justify-content: center;
    align-items: center; /* Vertikal sentrering */
    flex-direction: column; /* Endrer retningen til kolonne for å plassere teksten under bildet */
    z-index: 1001;
}
.modal-content {
    width: 80%;
    max-width: 1000px;
    height: auto;
    border-radius: 10px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-height: 800px;
}

.modal-caption {
    margin-top: 15px; /* Litt avstand fra bildet */
    color: white; /* Tekstfarge */
    text-align: center; /* Sentrer teksten */
    font-size: 16px; /* Skriftstørrelse */
    max-width: 80%; /* Maksimal bredde for å unngå at teksten blir for bred */
    padding: 5px;
    box-sizing: border-box; /* Inkluder padding i bredden */
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #e60000;
}

.fileroglink {
    background-color: transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.589);
    
    
}

.fileroglink h2 {
   
    padding-bottom: 25px;
    
}

.fileroglink p {

font-size: 20px; 
    
    
}

@media (max-width: 1400px) {

    .project-slideshow img {
        width: 500px;
        height: 400px;
       
        
    }

    #om-meg p {
        font-size: 15px;
    }
    #om-meg img {
       
        max-width: 30vh;
       
    }
    #om-meg h1 {
        font-size: 45px; 
    }
    .fixed-text p {
    
        font-size: 1rem;
        max-width: 80%;
       
    }
    .middle-text h2 {
        font-size: 1.5rem;
        letter-spacing: 15px;
      
    }
}

@media (max-width: 1000px) {
    .project-slideshow img {
        max-width: 380px;
    }

    #om-meg h1 {
        font-size: 45px; 
    }

    .swiper-slide > img,
.slide-content > img {
   
    height: 100%;
    left: 0%;
    width: 100%;
   
}
}


@media (max-width: 768px) {
    header {
        height: 100vh; /* Reduser høyden på headeren for mindre skjermer */
    }
    header .text {
        width: 100%; /* Juster tekstbredden */
        padding: 0 50px;
        text-align: left; /* Plasser teksten til venstre */
        box-sizing: border-box; /* Sørg for at padding er inkludert i bredden */
        
    }
    header .text h1 {
        font-size: 3.5rem; /* Juster font-størrelsen */
        margin-left: 0; /* Fjerner eventuell venstre margin */
        padding-left: 20px;
    }
    header .text h2 {
        font-size: 1.5rem; /* Juster font-størrelsen */
        margin-left: 0; /* Fjerner eventuell venstre margin */
        padding-left: 40px;
    }
    #om-meg img {
     
    
        max-width: 20vh; /* Juster størrelsen på bildet etter behov */
        padding-left: 1rem;
        padding-top: 3rem;
    }

    #om-meg {
        padding: 1rem;
        
    }

    #om-meg h1 {

        font-size: 45px;
        
    }
    #om-meg p {
        font-size: 15px;
        
    }

    .slideshow{
        padding-bottom: 0vh;
    padding-top: 0vh;
    }

    .slide {
        min-width: 30%; /* 100% / 4 visible slides */
    }

    .portfolio-filter{
        display: grid;
    }
    
   
    .project-slideshow img {
        width: 250px;
        height: 300px;
        
    }


        .sectionartikel {
        grid-template-columns: 1fr; /* Endre til én kolonne når skjermen er liten */
    }

    .art-text-content {
        grid-area: 2 / 1; /* Plasserer tekstinnhold under bildet */
        text-align: center; /* Sentrerer teksten horisontalt */
    }
    .art-text-contents {
        grid-area: 2 / 1; /* Plasserer tekstinnhold under bildet */
        text-align: center; /* Sentrerer teksten horisontalt */
    }

    .art-image-content {
        grid-area: 1 / 1; /* Plasserer bildeinnholdet over tekstinnholdet */
        text-align: center; /* Sentrerer bildet horisontalt */
    }

    .art-image-contents {
        grid-area: 1 / 1; /* Plasserer bildeinnholdet over tekstinnholdet */
        text-align: center; /* Sentrerer bildet horisontalt */
}


    

 }




.color1 {
    background-color: #FFDDC1; /* Light peach */
}

.color2 {
    background-color: #FFC3A0; /* Light salmon */
}

.color3 {
   
    background-color: #FFABAB; /* Light coral */
}

.color4 {
   
    background-color: #f87878; /* Light coral */
}

.colorklatring1 {
    background-color: #046838; /* Light peach */
}

.colorklatring2 {
    background-color: #8CC440; /* Light salmon */
}

.colorklatring {
   
    background-color: #bd393900; /* Light coral */
}

.colorklatring4 {
   
    background-color: #FCFCFC; /* Light coral */
}







.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

