* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0; /* Sikre at det ikke er margin rundt body */
    /*padding: 0 20vh; /* Legg til padding på venstre og høyre side */ 
}

header {
    position: relative;
    height: 100vh;
    overflow: hidden;
    z-index: 1; /* Sørg for at headeren ligger under nav */
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 2; /* Sørg for at teksten er synlig over bildene */
    background-color: rgba(0, 0, 0, 0.3); /* Optional for better text visibility */
}

header .text {
    width: 50%;
    text-align: left;
    padding: 0 20px;
}

header .text h1 {
    font-size: 4rem;
    color: white;
    padding-left: 20vh;
}
header .text h2 {
    font-size: 1.5rem;
    color: white;
    padding-left: 25vh;
}


header .right {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

header .right img {
    width: 100%; /* Fyller hele bredden av containeren */
    height: 100%; /* Fyller hele høyden av containeren */
    object-fit: cover; /* Sørg for at bildet fyller hele containeren uten å forvrenge */
    object-position: center;  /* mulig å endre her i media query (!) */ 
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

header .right img.active {
    opacity: 1;
}

header .logo-container {
    position: fixed; /* Fester logoen til en fast posisjon */
    top: 35px; /* Avstand fra toppen av skjermen */
    left: 20px; /* Avstand fra venstre kant av skjermen */
    z-index: 4; /* Sørg for at logoen ligger over alt annet */
}

header .logo-container img {
    width: 20vh; /* Juster størrelsen på logoen */
    height: auto; /* Behold proporsjoner av logoen */
}

/* Navigasjonsstil */
nav {
    position:absolute; /* Sørg for at nav alltid er på toppen */
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0); /* Gjør bakgrunnen litt gjennomsiktig */
    z-index: 3; /* Sørg for at nav ligger over headeren */
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

nav ul li {
    margin: 0 15px; /* Margin mellom meny elementer */
}

nav ul li a {
    color: #ffffff; /* Endret fra hvit for bedre kontrast mot hvit bakgrunn */
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: rgba(87, 87, 87, 0.5); /* Semi-transparent hover effect */
}

main {
    padding-top: 70px; /* Gi plass til nav */
}

main section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #33333300;   /*footer bakgrunn */
    color: black;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1; /* Start synlig */
    transform: translateY(0); /* Start synlig */
    z-index: 4; /* Sørg for at fotnoten ligger over headeren og nav */
}

footer.hidden {
    transform: translateY(100%);
    opacity: 0; /* Gjør fotnoten usynlig */
}

footer.visible {
    transform: translateY(0);
    opacity: 1; /* Gjør fotnoten synlig */
}

footer p {
    margin: 0;
}









@media (max-width: 768px) {
    header {
        height: 100vh; /* Reduser høyden på headeren for mindre skjermer */
    }
    header .text {
        width: 100%; /* Juster tekstbredden */
        padding: 0 50px;
        text-align: left; /* Plasser teksten til venstre */
        box-sizing: border-box; /* Sørg for at padding er inkludert i bredden */
    }
    header .text h1 {
        font-size: 2rem; /* Juster font-størrelsen */
        margin-left: 0; /* Fjerner eventuell venstre margin */
        padding-left: 20px;
    }
    header .text h2 {
        font-size: 1rem; /* Juster font-størrelsen */
        margin-left: 0; /* Fjerner eventuell venstre margin */
        padding-left: 40px;
    }
    
}













.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }