* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0; /* Sikre at det ikke er margin rundt body */
    /*padding: 0 20vh; /* Legg til padding på venstre og høyre side */ 
    
    /*background-image: url('path/to/your/image.jpg'); /* Legg til bakgrunnsbilde */
     /*background-size: cover; /* Skaler bildet for å dekke hele bakgrunnen */
     /*background-position: center; /* Plasser bildet sentrert */
     /*background-repeat: no-repeat; /* Ikke gjenta bildet */
     /* Legg til padding på venstre og høyre side */
     transition: background-color 1s ease;
}
.center-text {
    display: flex;
    justify-content: center; /* Sentrerer horisontalt */
    align-items: center; /* Sentrerer vertikalt */
    text-align: center; /* Sentrerer teksten inne i elementet */
    font-size: 1.5rem;
    padding-bottom: 1rem;
    
}

header {
    position: relative;
    height: 100vh;
    overflow: hidden;
    z-index: 1; /* Sørg for at headeren ligger under nav */
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 2; /* Sørg for at teksten er synlig over bildene */
    background-color: rgba(0, 0, 0, 0.3); /* Optional for better text visibility */
}

header .text {
    width: 100%;
    text-align: left;
    padding: 0 20px;
    pointer-events: none;
    opacity: 0;
    animation: startfade 1s ease-in 0.02s;
    animation-fill-mode: both;
    
}

header .text h1 {
    font-size: 8rem;
    color: white;
    padding-left: 20vh;
    background: linear-gradient(to right, #FFDDC1, #f7a87b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    pointer-events: none;
    opacity: 0;
    animation: startfade 1s ease-in 0.001s;
    animation-fill-mode: both;
   
    
}

@keyframes startfade {
    0% {
        opacity: 0;
    }
    100%{ opacity: 1;
    
    }
}

/*@keyframes appear{
    from    {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
} */

/*@keyframes appear{
    from    {
        opacity: 0;
        transform: translateX(-100px)
    }
    to {
        opacity: 1;
        transform: translateX(0px)
    }
    
}*/

@keyframes fagom1 {
    from {
        opacity: 0;
        transform: translateY(px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Keyframes for h2 */
@keyframes fagom3 {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Keyframes for h3 */
@keyframes fagom {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


header .text h2 {
    font-size: 1.5rem;
    color: white;
    padding-left: 25vh;
}


header .right {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

header .right img {
    width: 100%; /* Fyller hele bredden av containeren */
    height: 100%; /* Fyller hele høyden av containeren */
    object-fit: cover; /* Sørg for at bildet fyller hele containeren uten å forvrenge */
    object-position: center;  /* mulig å endre her i media query (!) */ 
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

header .right img.active {
    opacity: 1;
}

header .logo-container {
    position: fixed; /* Fester logoen til en fast posisjon */
    top: 25px; /* Avstand fra toppen av skjermen */
    left: 10px; /* Avstand fra venstre kant av skjermen */
    
    z-index: 4; /* Sørg for at logoen ligger over alt annet */
}

header .logo-container img {
    width: 20vh; /* Juster størrelsen på logoen */
    height: auto; /* Behold proporsjoner av logoen */
    max-width: 20vh;
    max-height: 100%;
}

/* Navigasjonsstil */
nav {
    position:absolute; /* Sørg for at nav alltid er på toppen */
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0); /* Gjør bakgrunnen litt gjennomsiktig */
    z-index: 3; /* Sørg for at nav ligger over headeren */
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

nav ul li {
    margin: 0 15px; /* Margin mellom meny elementer */
}

nav ul li a {
    color: #ffffff; /* Endret fra hvit for bedre kontrast mot hvit bakgrunn */
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: rgba(87, 87, 87, 0.5); /* Semi-transparent hover effect */
}

main {
    padding-top: 70px;
    width: 80%;
    margin: 0 auto; /* Horisontal sentrering av main-elementet */
  
    align-items: center; /* Vertikal sentrering av innhold i main */
}

main section {
    background: white;
    /*padding: 85px; */
    margin-bottom: 40vh;
    border-radius: 5px;
    /*animation: appear 5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%; */
}
section h1 {
    opacity: 0; /* Start hidden */
    transform: translateY(-15px); /* Start slightly above */
    transition: opacity 1s ease-out, transform 1s ease-out;
}

section h1.visible {
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Move to final position */
}
/*section p {
    opacity: 0;  
    transform: translateY(-15px); 
    transition: opacity 1s ease-out, transform 1s ease-out;
}*/

/*section p.visible {
    opacity: 1; 
    transform: translateY(0); 
} */

#om-meg{
    padding: 25vh 20vh;
    display: flex;
    align-items: flex-start;
    background-color: #f4f4f4;
    
}
#om-meg p{
    flex: 1 1 100%;
    font-size: 25px;
}
#om-meg h1{
    font-size: 80px;
    padding-bottom: 1rem;
    margin: 0;
}
#om-meg img {
    padding-left: 2rem;
    padding-top: 4rem;
    max-width: 50vh; /* Juster størrelsen på bildet etter behov */
    /* Litt mellomrom mellom bildet og teksten */
    flex: 1 1 100%; /* Flex-grow: 1, Flex-shrink: 1, Flex-basis: 40% */
    object-fit: cover;
}
#om-meg div {
    flex: 1; /* Lar teksten ta opp tilgjengelig plass */
}


.slideshow-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: rgb(255, 255, 255);
   
}

.slideshow {
    display: flex;
    animation: slide 18s linear infinite;
    padding-bottom: 10vh;
    padding-top: 10vh;
   
}

.slide {
    min-width: 20%; /* 100% / 4 visible slides */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.slide img {
    width: 10vh;
    display: block;
    height: auto;
}

.slide p {
    padding-left: 1.2vh;
}

.fagfelt {
    
    
    background-color: transparent;
    font-size: 10vh;
     box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
    
}
.fagfelt h1 {
    background-color: #FFABAB;
    writing-mode: vertical-lr;
    padding-right: 50vh;
    opacity: 0; /* Start hidden */
    transform: translateY(100px); /* Start off-screen */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;   /* Smooth transition */
    animation: fagom2 2s linear;
}
.fagfelt h1.animate {
    opacity: 1;
    transform: translateY(0);
}

.fagfelt h2 {
    background-color: #f7a87b;
    
    animation: fagom3 2s linear;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    transform: translateY(100px); /* Start off-screen */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out; 
    opacity: 0;
    
 
    
}
.fagfelt h3 {
    background-color:#f87878;
    writing-mode:vertical-rl;
    padding: 2vh;
    color: #FFC3A0;
    width: 20vh;
    transform: translateY(100px); /* Start off-screen */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out; 
    opacity: 0;
    animation: fagom 2s linear;
}


.fagfelt h2.animate {
    opacity: 1;
    transform: translateY(0);
}

/* Animation for h3 */
.fagfelt h3.animate {
    opacity: 1;
    transform: translateY(0);
}


@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-250%);
    }
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-300%);
    }
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #33333300;   /*footer bakgrunn */
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1; /* Start synlig */
    transform: translateY(0); /* Start synlig */
    z-index: 4; /* Sørg for at fotnoten ligger over headeren og nav */
}

footer.hidden {
    transform: translateY(100%);
    opacity: 0; /* Gjør fotnoten usynlig */
}

footer.visible {
    transform: translateY(0);
    opacity: 1; /* Gjør fotnoten synlig */
}

footer p {
    margin: 0;
}







 
    

/* Seksjon Om Meg */
.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 25vh;
    
    
}

.text-content {
    flex: 1 1 50%; /* Flex-grow: 1, Flex-shrink: 1, Flex-basis: 60% */
    padding-right: 4vh;
    padding-left: 4vh;
    text-align: center;
}

.image-content {
    flex: 1 1 50%; /* Flex-grow: 1, Flex-shrink: 1, Flex-basis: 40% */
}

#box img {
    width: 100%; /* Sikrer at bildet fyller containerens bredde */
    height: auto;
    object-fit: cover;
    height: 25vh;
}

.content-wrapper:hover{
    box-shadow:  12px 12px 12px rgba(0, 0, 0, 0.1),
    -10px -10px 10px white; 
}





@media (max-width: 768px) {
    header {
        height: 100vh; /* Reduser høyden på headeren for mindre skjermer */
    }
    header .text {
        width: 100%; /* Juster tekstbredden */
        padding: 0 50px;
        text-align: left; /* Plasser teksten til venstre */
        box-sizing: border-box; /* Sørg for at padding er inkludert i bredden */
    }
    header .text h1 {
        font-size: 3.5rem; /* Juster font-størrelsen */
        margin-left: 0; /* Fjerner eventuell venstre margin */
        padding-left: 20px;
    }
    header .text h2 {
        font-size: 1rem; /* Juster font-størrelsen */
        margin-left: 0; /* Fjerner eventuell venstre margin */
        padding-left: 40px;
    }
    #om-meg img {
     
    
        max-width: 20vh; /* Juster størrelsen på bildet etter behov */
        padding-left: 1rem;
        padding-top: 3rem;
    }

    #om-meg {
        padding: 1rem;
        
    }

    #om-meg h1 {
        font-size: 70px;
        
    }
    #om-meg p {
        font-size: 15px;
        
    }

    .slideshow{
        padding-bottom: 0vh;
    padding-top: 0vh;
    }

    .slide {
        min-width: 30%; /* 100% / 4 visible slides */
    }

    
    
}




.color1 {
    background-color: #FFDDC1; /* Light peach */
}

.color2 {
    background-color: #FFC3A0; /* Light salmon */
}

.color3 {
   
    background-color: #FFABAB; /* Light coral */
}

.color4 {
   
    background-color: #f87878; /* Light coral */
}









.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
  }